a.menu_links { cursor: pointer; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../administracion/assets/imgDefault/loading.gif) center no-repeat #fff;
}
section{
	margin-top: 25px  !important;
	padding-top: 25px !important;
}
}
.card{
	border: 1px solid #ddd !important;
}
.excerpt{
	max-height: 200px;
	overflow: auto;
}
.imgProducto{
	/*width: auto;*/
 	 max-height: 230px;
}
.col-sm-4{
	margin-top: 15px;
}
.headerCustom{
	margin-top: 75px;
}
.infoHeader{
	padding-top: 5px
}
.imgProduct{
	max-height: 100px;
	width: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}